{% extends 'base.html'%}

{% block content %}
<div class="create_page_container">

<h1>create new member</h1>

<form class="create_form" action="/members" method="post">
    <table class="create_table">
    <tr>
        <td>
            <label class="create_form_label" for="first_name">First Name</label>
        </td>
        <td>
            <input class="create_form_input" type="text" id="first_name" name="first_name" placeholder="first name" required autofocus>
        </td>
    </tr>
    <tr>
        <td>
            <label class="create_form_label" for="last_name">Last Name</label>
        </td>
        <td>
            <input class="create_form_input" type="text" id="last_name" name="last_name" placeholder="last name" required>
        </td>
    </tr>
    <tr>
        <td>
            <label class="create_form_label" for="dob">Date of Birth</label>
        </td>
        <td>
            <input class="create_form_input" type="date" id="dob" name="dob" required>
        </td>
    </tr>
    </table>
    <div>
        <button class="create_page_button" type="submit">Submit</button>
    </div>
</form>
   
</div>

{% endblock %}