{% extends 'base.html'%}

{% block content %}
<div class="page_container">
    <h3>Welcome to your gym management tool!</h3>

    <p id="top_para">You can use this site to:</p>

    <div class="home_list">
        <p id="home_list_1"><i class="fa-solid fa-square" id="square" style="color:#1c6eb6"></i>  Add and manage your members</p>
        <p id="home_list_2"><i class="fa-solid fa-square" style="color:#c12214"></i>  Add and manage the workout classes available at your gym</p>
        <p id="home_list_3"><i class="fa-solid fa-square" style="color:#029100"></i>  Book members into your workouts</p>
    </div>

    <p id="bottom_para">Just click the buttons above to start managing your gym!</p>
</div>

{% endblock %}